<div class="row">
  <div class="col-md-4 menu">
    <app-search></app-search>
    <app-contact-menu></app-contact-menu>
  </div>
  <div class="col-md-8 content" [ngClass]="{ hide: valHideContactContent }">
    <div class="col" id="list-friends">
      <div
        class="row list-contacts__title align-items-center justify-content-between"
      >
        <div>
          <span
            class="icon-close"
            style="display: none"
            (click)="contactContent()"
          >
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="list-contacts__title--text"> Danh sách bạn bè </span>
        </div>
      </div>
      <div class="row list-contacts__tbl">
        <div class="col">
          <div class="row">
            <div class="list-contacts__card" *ngFor="let friend of listFriends">
              <div>
                <img
                  [src]="'http://localhost:3000' + friend?.avatar"
                  alt=""
                  class="img-fluid card__img"
                />
              </div>
              <div class="row justify-content-center">
                <span class="card__title">
                  {{ friend?.name }}
                </span>
              </div>
              <div>
                <span [routerLink]="['/chat', friend._id]" class="card__icon">
                  Nhắn tin
                </span>
                <span class="card__icon"> Xóa bạn </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="overlay" [ngClass]="{ show: valShowAddFriendsContent }"></div>
<div class="row justify-content-center">
  <div class="add-friend" [ngClass]="{ show: valShowAddFriendsContent }">
    <div class="row justify-content-between">
      <span> <i class="fas fa-user-plus"></i> Thêm bạn bè </span>
      <span (click)="addFriendsContent()">
        <i class="fas fa-times" style="font-size: 1.2rem; cursor: pointer"></i>
      </span>
    </div>
    <hr />
    <form action="">
      <div class="row justify-content-center">
        <input
          type="text"
          class="add-friend__input"
          placeholder="Số điện thoại hoặc ID"
          name="add-friend-ip"
          id="add-friend-ip"
        />
        <button type="submit" class="add-friend__submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <br />
    <div class="row add-friends__card" id="add-friends__card">
      <div class="col">
        <div class="row justify-content-center">
          <img
            src="{{ imgPath }}"
            alt=""
            class="img-fluid add-friend__card--img"
          />
        </div>
        <div class="row justify-content-center">
          <span class="add-friend__card--title"> #212 </span>
        </div>
        <div class="row justify-content-center">
          <span class="add-friend__card--title"> Tên bạn bè </span>
        </div>
        <div class="row justify-content-center">
          <span class="add-friend__card--title"> 0924668320 </span>
        </div>
        <div class="row justify-content-center">
          <span class="add-friend__card--icon"> Gửi lời mời </span>
          <span class="add-friend__card--icon"> Hủy </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
