<div class="row">
  <div class="col-md-4 menu">
    <app-search class="m-1"></app-search>
    <app-contact-menu></app-contact-menu>
  </div>
  <div class="col-md-8 content" [ngClass]="{ hide: valHideContactContent }">
    <div class="col" id="list-friends">
      <div
        class="row list-contacts__title align-items-center justify-content-between"
      >
        <div>
          <span
            class="icon-close"
            style="display: none"
            (click)="contactContent()"
          >
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="list-contacts__title--text"> Danh sách bạn bè </span>
        </div>
      </div>
      <div class="row list-contacts__tbl">
        <div class="col">

          <div class="row">
            <div class="list-contacts__card" *ngFor="let friend of listFriends">

              <div>
                <img
                  [src]="friend?.avatar"
                  alt=""
                  class="img-fluid card__img"
                />
              </div>
              <div class="row justify-content-center">
                <span class="card__title">
                  {{ friend?.name }}
                </span>
              </div>
              <div>
                <span (click)="createNewRoomFor2Users(friend._id)" class="card__icon">
                  Nhắn tin
                </span>
                <span class="card__icon" (click)="deleteFriend(friend._id)"> Xóa bạn </span>
              </div>
            </div>
            <div class="text-success" *ngIf="isShowMessageAlert">Delete friend success</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
