
<div class="row align-items-center header" *ngIf="isUserAuthenticated">

  <nav class="navbar navbar-expand-lg">
    <span class="navbar-brand" >
      <a routerLink="/personal-information" style="color: black; text-decoration: none;" mat-button>
      <img
        *ngIf="isUserAuthenticated"
        [src]="(currentUser?.avatar || userDataInLocalStorage?.avatar) "
        alt=""
        class="img-fluid user__avatar"
      />
      <span class="user__name" *ngIf="isUserAuthenticated"> {{ currentUser?.name || userDataInLocalStorage?.name}} </span>
    </a>
    </span>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="showMenuMobile()"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="!menuMobile"
    >
      <div class="row justify-content-center">
        <div *ngFor="let item of items">
          <span
            *ngIf="isUserAuthenticated"
            class="user__case--item"
            [routerLink]="'/' + item[1]"
            routerLinkActive="highlight"
          >
            {{ item[0] }}
          </span>
        </div>
        <div>
          <span
            *ngIf="isUserAuthenticated"
            class="user__case--item"
            (click)="onLogout()"
          >
            Đăng xuất
          </span>
        </div>
      </div>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="menuMobile"
    >
      <div class="row justify-content-center">
        <div *ngFor="let item of items">
          <span
            *ngIf="isUserAuthenticated"
            class="user__case--item"
            [routerLink]="'/' + item[1]"
            routerLinkActive="highlight"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
          >
            {{ item[0] }}
          </span>
        </div>
        <div>
          <span
            *ngIf="isUserAuthenticated"
            class="user__case--item"
            (click)="onLogout()"
          >
            Đăng xuất
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>

<div
  class="row justify-content-center align-items-center header"
  *ngIf="!isUserAuthenticated"
  [ngClass]="{ center_sceen: !isUserAuthenticated }"
>
  <li *ngIf="!isUserAuthenticated">
    <span
      class="user__case--item log-res"
      mat-button
      routerLink="/auth/login"
      routerLinkActive="mat-accent"
    >
      Đăng nhập
    </span>
  </li>
  <li *ngIf="!isUserAuthenticated">
    <span
      class="user__case--item log-res"
      mat-button
      routerLink="/auth/signup"
      routerLinkActive="mat-accent"
      >Đăng ký</span
    >
  </li>
</div>
