
<div
  class="row align-items-center justify-content-between header"
  *ngIf="isUserAuthenticated"
>
  <div *ngIf="!isUserAuthenticated">
    <img [src]="imgPath" alt="" />
    <h3>{{ username }}</h3>
    <app-search></app-search>
  </div>

  <!-- Avatar & UserName -->
  <div class="col-4">
    <img
      *ngIf="isUserAuthenticated"
      [src]="imgPath"
      alt=""
      class="img-fluid user__avatar"
    />
    <h3 *ngIf="isUserAuthenticated">{{ username }}</h3>
  </div>

  <div class="col-8">
    <span class="spacer"></span>
    <ul [ngClass]="{ ul_style_isAuth: isUserAuthenticated }"  >
      <span *ngFor="let item of items">
        <span
          *ngIf="isUserAuthenticated"
          class="user__case--item"
          mat-button
          [routerLink]="'/' + item[1]"
          routerLinkActive="highlight"
          > {{ item[0] }}
        </span>
      </span>

      <span
        class="user__case--item"
        mat-button
        (click)="onLogout()"
      >Đăng xuất
  </span>

    </ul>



  </div>
</div>

<div
  class="row justify-content-center align-items-center header"
  *ngIf="!isUserAuthenticated"
  [ngClass]="{ center_sceen: !isUserAuthenticated }"
>
  <li *ngIf="!isUserAuthenticated">
    <span
      class="user__case--item"
      mat-button
      routerLink="/auth/login"
      routerLinkActive="mat-accent"
    >
      Đăng nhập
    </span>
  </li>
  <li *ngIf="!isUserAuthenticated">
    <span
      class="user__case--item"
      mat-button
      routerLink="/auth/signup"
      routerLinkActive="mat-accent"
      >Đăng ký</span
    >
  </li>
</div>


