<div class="row justify-content-center">
  <div class="col-md-4 menu">
    <app-search class="m-1"></app-search>
    <app-contact-menu></app-contact-menu>
  </div>

  <div class="col-md-8 content" [ngClass]="{ hide: valHideContactContent }">
    <div class="row justify-content-center">

      <div class="add-friend">
        <div class="row justify-content-between align-items-center">
          <span> <i class="fas fa-user-plus"></i> Thêm bạn bè </span>
          <span
            (click)="contactContent()"
            class="icon-close"
            style="display: none"
          >
            <i
              class="fas fa-times"
              style="font-size: 1.2rem; cursor: pointer"
            ></i>
          </span>
        </div>
        <hr />
        <form action="">
          <div class="row justify-content-center">
            <input
              type="text"
              class="add-friend__input"
              placeholder="Số điện thoại hoặc ID"
              #friendPhone
              (keyup)="searchFriend(friendPhone.value)"
              id="add-friend-ip"
            />
            <span class="add-friend__submit">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </form>
        <br />

        <mat-spinner *ngIf="isLoading"> </mat-spinner>
        <div
          class="row add-friends__card"
          [ngClass]="{ hide: hideFriend }"
          id="add-friends__card"
        >
          <div class="col">
            <div class="row justify-content-center">
              <img
                [src]="friend?.avatar"
                alt=""
                class="img-fluid add-friend__card--img"
              />
            </div>
            <input type="hidden" #friendId value="{{ friend?._id }}" />
            <div class="row justify-content-center">
              <span class="add-friend__card--title"> {{ friend?.name }} </span>
            </div>
            <div class="row justify-content-center">
              <span class="add-friend__card--title"> {{ friend?.phone }} </span>
            </div>
            <div class="row justify-content-center">
              <input
                type="text"
                #introduction
                class="add-friend__introduction"
                placeholder="Nhập lời chào..."
              />
              <span
                class="add-friend__card--icon"
                (click)="addFriend(friendId.value, introduction.value)"
              >
                Gửi lời mời
              </span>
            </div>
          </div>
        </div>

        <div class="text-success" *ngIf="isShowMessageAlert">Add friend success</div>

      </div>



    </div>
  </div>
</div>
