<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-5 form-log-res">
      <form
        (submit)="onLogin(loginForm)"
        #loginForm="ngForm"
        *ngIf="!isLoading"
      >
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="text"
            name="email"
            ngModel
            #emailInput="ngModel"
            required
            email
            placeholder="Số điện thoại"
          />
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            required
            placeholder="Mật khẩu"
          />
        </div>

        <div class="row justify-content-end">
          <button type="submit" class="form-submit">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>
