/* Contact */

.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

.tabs-contact__item {
  width: 80%;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--color-1);
  background-color: var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.tabs-contact__item:hover,
.tabs-contact__item.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Plus Group */

.plus-add-group {
  font-size: 0.5rem;
  margin-left: 0.2rem;
}
