<div class="container-fluid">
  <div class="row justify-content-center">
    <span style="font-size: 1.1rem">Xác nhận mật khẩu:</span>
  </div>
  <div class="row justify-content-center">
    <div class="form-log-res">
      <form [formGroup]="form" (submit)="onLogin()">
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="password"
            formControlName="password"
            placeholder="Mật khẩu"
          />
        </div>

        <div class="row justify-content-end" mat-dialog-actions>
          <button
            (click)="onCancel()"
            #closeButton
            type="button"
            class="form-submit"
          >
            Hủy
          </button>
          <button (keyup.enter)="onLogin()" (click)="onLogin()" type="submit" class="form-submit">
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
