




/* Chat Box Send */
.chat-box__send {
  height: 15vh;
  background-color: var(--color-1);
  border-top: 2px solid var(--color-2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat-box__send--text {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  width: 100%;
  border: none;
  border-radius: 15px;
}

.chat-box__send--text::-webkit-scrollbar {
  width: 6px;
}

.chat-box__send--text::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

.chat-box__send--btn {
  margin: 0.25rem 0;
  padding: 0.25rem 1rem;
  text-align: center;
  color: var(--color-3);
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.chat-box__send--btn:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Responsive */

@media only screen and (max-width: 480px) {
  .content.show {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
  }
  .content {
    display: none;
    transition: all 750ms;
  }

  .tabs-card__item > div > img {
    width: 15vw;
    height: 15vw;
  }

  .chat-box__body {
    height: 72.5vh;
    max-height: 72.5vh;
  }

  .icon-close {
    display: inline-block !important;
    margin-left: 0.75rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    transition: all 750ms;
    background-color: var(--color-2);
    cursor: pointer;
  }

  .icon-close:hover {
    background-color: var(--color-2);
    transition: all 750ms;
  }
}
