<div class="row justify-content-center">
  <div class="add-member">
    <div class="row justify-content-between align-items-center">
      <span>
        <i [class]="data.className"></i>
        {{ data.title }}
      </span>
      <span class="icon-close" mat-dialog-close>
        <i class="fas fa-times" style="font-size: 1.2rem; cursor: pointer"></i>
      </span>
    </div>
    <hr />
    <form
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      <label>
        <span>{{ data.subTitle }}</span>
      </label>

      <div class="row list-friends-add-groups" >
        <div class="col">
          <div class="row align-items-center list-friends-add-groups__item" *ngFor="let friend of data.friends">
            <input
              *ngIf="data.type !== 'leave'"
              class="input-checkbox"
              type="checkbox"
              name="add-groups"
              formControlName="members"
              [value]="friend._id"
              (change)="checkBoxClick($event)"
            />
            <input
              *ngIf="data.type === 'leave'"
              class="input-checkbox"
              type="radio"
              formControlName="members"
              [value]="friend._id"
              (change)="radioClick()"
            />
            <img [src]="friend?.avatar" alt="" class="img-fluid item__img" />
            <span class="item__name">{{ friend.name }}</span>
          </div>

          <div *ngIf="data.friends.length <= 0">Không có bạn bè phù hợp điều kiện để thêm vào nhóm</div>

        </div>
      </div>
      <div class="row justify-content-end">
        <button
            *ngIf="data.type === 'add' "
            (click)="addMembers()"
            class="sb-add-groups"
            type="button">
            Thêm
        </button>
        <button
            *ngIf="data.type === 'delete' "
            (click)="deleteMembers()"
            class="sb-add-groups"
            type="button">
            Xoá
        </button>
        <button
            *ngIf="data.type === 'leave' "
            (click)="leaveRoom()"
            class="sb-add-groups"
            type="button">
            Rời nhóm
        </button>
      </div>
    </form>
  </div>
</div>
