<div class="row">
  <div class="col-md-4 col-12 menu">
    <app-search class="col-md-4" (value)="searchRoomByName($event)">
    </app-search>
    <app-chat-menu
      [rooms]="rooms"
      [lastMessageOfRooms]="lastMessageOfRooms"
      [currentRoom]="currentRoom"
    >
    </app-chat-menu>
  </div>

  <div class="col-md-8 col-12 content" *ngIf="currentRoom">
    <app-chat-roomchat
      [rooms]="rooms"
      [profileOfFriends]="profileOfFriends"
      [chatroom]="currentRoom"
      [messages]="messages"
    >
    </app-chat-roomchat>
  </div>
</div>
