.menu {
  padding: 0.5rem 0;
}

.content {
  padding: 1rem !important;
}

/* Contact */

.tabs-contact__item {
  width: 80%;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--color-1);
  background-color: var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.tabs-contact__item:hover,
.tabs-contact__item.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Content Contacts */

.list-contacts__title {
  height: 10vh;
  background-color: var(--color-1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-contacts__title--text {
  padding: 1rem 2rem;
  font-weight: 700;
}

.list-contacts__tbl {
  height: 72.5vh;
  max-height: 72vh;
  padding: 0 1rem;
  background-color: var(--color-2);
  border-top: 2px solid var(--color-2);
  border-bottom: 1px solid var(--color-1);
  border-left: 1px solid var(--color-1);
  border-right: 1px solid var(--color-1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: scroll;
}

.list-contacts__tbl::-webkit-scrollbar {
  width: 6px;
}

.list-contacts__tbl::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

.list-contacts__card {
  display: inline-block;
  width: 31%;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 20px;
}

/* Card */
.card__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 1px solid var(--color-2);
  border-radius: 50%;
}

.card__title {
  margin: 0.5rem 0;
  max-width: 8.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__introduce {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 60%;
}

.card__icon {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.card__icon:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Notification */
.notification {
  position: fixed;
  display: flex;
  width: 4rem;
  height: 4rem;
  bottom: 2rem;
  right: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 50%;
  transition: all 750ms;
  z-index: 1;
  cursor: pointer;
}

.notification:hover {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  transition: all 750ms;
}

.notification__icon {
  font-size: 1.75rem;
}

.notification__count {
  position: fixed;
  padding: 0.3rem 0.4rem;
  margin-top: 2.5rem;
  margin-left: 2.75rem;
  font-size: 0.75rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  border-radius: 50%;
}

/* Icon close */

.icon-close {
  display: inline-block;
  margin: 0 0.75rem;
  padding: 0.55rem 0.75rem;
  border-radius: 50%;
  transition: all 750ms;
  background-color: var(--color-2);
  cursor: pointer;
}

.icon-close:hover {
  background-color: var(--color-2);
  transition: all 750ms;
}

/* Plus Add Group */

.plus-add-group {
  font-size: 0.5rem;
  margin-left: 0.2rem;
}

/* Add Friend */

.add-friend {
  width: 35vw;
  margin: 1rem 0rem;
  padding: 2rem 3rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 20px;
  z-index: 3;
}

.add-friend__input {
  width: 80%;
  margin: 1rem 0.5rem;
  padding: 0 0.5rem;
  display: block;
  font-size: 0.9rem;
  color: var(--color-3);
  background-color: var(--color-2);
  border: none;
  border-bottom: 1px solid var(--color-3);
}

.add-friend__input::placeholder {
  color: var(--color-3);
}

.add-friend__introduction {
  margin: 0.75rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--color-1);
  border-radius: 15px;
}

.add-friend__submit {
  margin: 1rem 0.5rem;
  background-color: var(--color-2);
  border: none;
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

/* Add Friends Content */
.add-friends__card {
  padding: 1rem;
  border: 1px solid var(--color-1);
  border-radius: 20px;
}

.add-friend__card--img {
  margin: 1rem 0;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.add-friend__card--title {
  margin: 0.25rem 0;
  padding: 0 1rem;
  width: 20vw;
  max-width: 19.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 1rem;
  color: var(--color-3);
}

.add-friend__card--icon,
.edit-user__card--icon {
  display: inline-block;
  margin: 1rem 0.25rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.add-friend__card--icon:hover,
.edit-user__card--icon:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Add Group */

.add-groups {
  margin-top: 1rem;
  width: 35vw;
  padding: 2rem 3rem;
  padding-bottom: 0.75rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 20px;
  z-index: 3;
}

/* Add Group Content */
/* Input */
.add-groups__input {
  width: 90%;
  margin-bottom: 0.75rem;
  padding: 0 0.5rem;
  display: block;
  font-size: 0.9rem;
  color: var(--color-3);
  background-color: var(--color-2);
  border: none;
  border-bottom: 1px solid var(--color-3);
}

.add-groups__input::placeholder {
  color: var(--color-3);
}

/* List Friends */

.list-friends-add-groups {
  height: 37.5vh;
  max-height: 37vh;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid var(--color-1);
  border-radius: 15px;
}

.list-friends-add-groups::-webkit-scrollbar {
  width: 6px;
}

.list-friends-add-groups::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

.list-friends-add-groups__item {
  margin-bottom: 0.75rem;
}

/* Item */

.input-checkbox {
  margin: 0 1rem;
  transform: scale(1.25);
}

.item__img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.item__name {
  font-size: 0.8rem;
  max-width: 12.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb-add-groups {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1.75rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-1);
  border-radius: 15px;
  transition: all 750ms;
}

.sb-add-groups:hover,
.sb-add-groups:focus {
  background-color: var(--color-2);
  transition: all 750ms;
}

.plus-add-group {
  font-size: 0.5rem;
  margin-left: 0.2rem;
}

/* Case List Room Chat */
.add-member,
.delete-member,
.delete-room {
  width: 35vw;
  padding: 0 2.5rem;
}

/* Tabs Responsive */
@media only screen and (max-width: 480px) {
  .content {
    display: inline;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 !important;
    background-color: var(--color-1);
  }
  .content.hide {
    display: none;
    transition: all 750ms;
  }

  .list-contacts__tbl {
    height: 90vh;
    max-height: 90vh;
  }

  .list-contacts__card {
    width: 90vw;
  }

  .icon-close {
    display: inline-block !important;
    margin-left: 0.75rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    transition: all 750ms;
    background-color: var(--color-2);
    cursor: pointer;
  }

  .icon-close:hover {
    background-color: var(--color-2);
    transition: all 750ms;
  }

  /* Add Friend */
  .add-friend {
    width: 90vw;
    margin-top: 5rem;
    padding: 1.5rem 2rem;
  }

  .add-friend__input {
    width: 70%;
  }

  .add-friend__card--title {
    width: 60vw;
    max-width: 59.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: var(--color-3);
  }

  /* Add Group */

  .add-groups {
    width: 90vw;
    margin-top: 5rem;
    padding: 1.5rem 2rem;
  }

  .add-groups__input {
    width: 70%;
  }

  /* List Room Case */
  .add-member,
  .delete-member,
  .delete-room {
    width: 100vw;
    padding: 0 1.5rem;
  }

  /* Item */
  .item__name {
    max-width: 6.5rem;
  }
}
