<app-search>Search</app-search>
<div class="row tabs-list">
  <div class="col">
    <div
      class="row tabs-card__item align-items-center"
      *ngFor="let room of rooms"
      [routerLink]="['/chat', room._id]"
      routerLinkActive="active"
      (click)="onClickShowContent(room._id)"
    >
      <div class="col-md-3 col-4">
        <img [src]="room?.avatar" alt="" class="img-fluid card__img" />
      </div>
      <div class="col-md-9 col-8">
        <div class="row">
          <span class="card__title">{{ room.name }}</span>
        </div>

        <span
          style="float: right"
          matBadge="."
          *ngIf="
            room.newMessage &&
            lastMessageOfRooms[room._id].sender !== currentUserId
          "
        ></span>
        <!-- ngIf="haveNewMessage[room._id]
                  && lastMessageOfRooms[room._id].sender !== currentUserId
                  && !isMessageInRoomRead[room._id] "> -->

        <!-- <span style="float: right;"
          matBadge="."
          *ngIf=" room?.newMessage
                  && lastMessageOfRooms[room._id].sender !== currentUserId ">
         </span> -->

        <div class="row">
          <i class="card__desc"> {{ lastMessageOfRooms[room._id]?.data }} </i>
        </div>
      </div>
    </div>
  </div>
</div>
