/* Tabs list */

.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

.tabs-list {
  height: 72.5vh;
  max-height: 72.5vh;
  overflow: scroll;
  margin: 0.5rem -0.5rem;
  background-color: var(--color-2);
}

.tabs-list::-webkit-scrollbar {
  width: 6px;
}

.tabs-list::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

/* Tabs Item */

.tabs-card__item {
  height: 5rem;
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
  box-shadow: 2px 2px 5px -1px var(--color-1);
}

.tabs-card__item:hover,
.tabs-card__item.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

.tabs-card__item > div > img {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  border-radius: 50%;
}

.tabs-card__item > div > div > span {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: var(--color-3);
  width: 90%;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs-card__item > div > div > i {
  margin: 0.25rem;
  width: 90%;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: var(--color-3);
}

@media only screen and (max-width: 480px) {
  .tabs-card__item > div > img {
    width: 15vw;
    height: 15vw;
  }
}
