<mat-spinner *ngIf="isLoading"></mat-spinner>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="form-log-res">
      <form
        [formGroup]="form"
        (submit)="onSignup()"
        *ngIf="!isLoading"
      >
        <div class="row justify-content-center">
          <input
            class="form-input"
            type="text"
            matInput
            name="name"
            formControlName="name"
            placeholder="Họ và tên"
          />
          <mat-error *ngIf="form.get('name').invalid">
            Họ và tên có độ dài tối thiểu 3 kí tự
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="text"
            name="phone"
            formControlName="phone"
            placeholder="Số điện thoại"
          />
          <mat-error *ngIf="form.get('phone').invalid">
            Số điện thoại gồm 10 chữ số
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="password"
            formControlName="password"
            placeholder="Mật khẩu"
          />
          <mat-error *ngIf="form.get('password').invalid">
            Mật khẩu không hợp lệ
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="repassword"
            formControlName="repassword"
            placeholder="Xác nhận mật khẩu"
          />
          <!-- <mat-error>
            Mật khẩu không khớp
          </mat-error> -->
        </div>

        <div class="row justify-content-end">
          <button type="submit" class="form-submit">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div>
