<mat-spinner *ngIf="isLoading"></mat-spinner>



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="form-log-res">
      <form
        [formGroup]="form"
        (submit)="onSignup()"
        *ngIf="!isLoading"
      >
        <div class="row justify-content-center">
          <input
            class="form-input"
            type="text"
            matInput
            name="name"
            formControlName="name"
            placeholder="Họ và tên"
          />
          <mat-error *ngIf="form.get('name').invalid">
            Họ và tên có độ dài tối thiểu 3 kí tự
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="text"
            name="phone"
            formControlName="phone"
            placeholder="Số điện thoại"
          />
          <mat-error *ngIf="form.get('phone').invalid">
            Số điện thoại gồm 10 chữ số
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="password"
            formControlName="password"
            #pass
            placeholder="Mật khẩu"
          />
          <mat-error *ngIf="form.get('password').invalid">
            Mật khẩu không hợp lệ
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="repassword"
            formControlName="repassword"
            #confirmPass
            placeholder="Xác nhận mật khẩu"
          />
          <mat-error *ngIf="pass.value !== confirmPass.value">
            Mật khẩu không khớp
          </mat-error>
        </div>

        <div>
          <button type="button" mat-button (click)="filePicker.click()">Choose Avatar</button>
          <input type="file" #filePicker (change)="onFilePicked($event)">
        </div>

        <div class="imagePreview" *ngIf="imageURL !== '' && imageURL && form.get('avatar').valid">
          <img style="width: 100px;height: auto;" [src]="imageURL" [alt]="form.value.title">
        </div>

        <div class="row justify-content-end">
          <button [disabled]="pass.value !== confirmPass.value" type="submit" class="form-submit">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div>
