<mat-spinner *ngIf="isLoading"></mat-spinner>

<!-- <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
        placeholder="Your email"
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please input your Email address</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        name="fullName"
        ngModel
        placeholder="Your full name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        name="address"
        ngModel
        placeholder="Your address"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        placeholder="Your password"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Content must be greater than 3 digits</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </mat-card>
</form> -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="form-log-res">
      <form
        (submit)="onSignup(signupForm)"
        #signupForm="ngForm"
        *ngIf="!isLoading"
      >
        <div class="row justify-content-center">
          <input
            class="form-input"
            type="text"
            matInput
            name="fullName"
            ngModel
            #fullNameInput="ngModel"
            placeholder="Họ và tên"
          />
          <mat-error *ngIf="fullNameInput.invalid">
            Content must be greater than 3 digits
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="text"
            name="mobilePhone"
            ngModel
            #mobilePhoneInput="ngModel"
            required
            pattern="[0-9 ]{10}"
            placeholder="Số điện thoại"
          />
          <mat-error *ngIf="mobilePhoneInput.invalid">
            Mobile must be valid
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            required
            placeholder="Mật khẩu"
          />
          <mat-error *ngIf="passwordInput.invalid">
            Password must be valid
          </mat-error>
        </div>
        <div class="row justify-content-center">
          <input
            class="form-input"
            matInput
            type="password"
            name="re-password"
            ngModel
            #repasswordInput="ngModel"
            required
            placeholder="Xác nhận mật khẩu"
          />
          <mat-error *ngIf="repasswordInput.invalid">
            Password must be matched
          </mat-error>
        </div>

        <div class="row justify-content-end">
          <button type="submit" class="form-submit">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div>
