<!-- 
  <div class="center-items background">
    <img [src]="imgPath" alt="">
    <span>
      <h4> <b>Tên bạn bè</b> </h4>
    </span>
  </div>

  <ul class="message_receive background">
    <li>
      <p mat-button >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic error deserunt alias rem, deleniti odit labore placeat totam sit, quam non ea laborum cupiditate at tenetur sed sunt optio.
      </p>
    </li>
  </ul>

  <ul class="message_send">
    <li> <p mat-button >send</p> </li>
  </ul>

  <ul class="message_receive background">
    <li>
      <p mat-button >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic error deserunt alias rem, deleniti odit labore placeat totam sit, quam non ea laborum cupiditate at tenetur sed sunt optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quasi quisquam excepturi
      </p>
    </li>
  </ul>


  <mat-form-field>
    <textarea class="message_receive background"
      matInput
      rows="4"
      cols="10">
    </textarea>
    <a mat-button>Send</a>
    <a mat-button> <mat-icon> search </mat-icon> </a>
  </mat-form-field> -->

<div class="col">
  <div class="row chat-box__title align-items-center">
    <img src="{{ imgPath }}" alt="" class="img-fluid chat-box__title--img" />
    <span class="chat-box__title--desc">
      Tên bạn bè hsgfd jhasgfjhsa gfjhsag fjhgsjhfgsajhfgjhsagdfjh
    </span>
  </div>
  <div class="row chat-box__body">
    <div class="col">
      <div class="row">
        <div class="mess mess-left">
          <span>
            Để sử dụng được cái này, ta bắt buộc phải thêm display: -webkit-box,
            thuộc tính -webkit-line-clamp sẽ quyết định số dòng tối đa được hiển
            thị. Tuy nhiên, cách làm này có 1 nhược điểm là không thể sử dụng
            padding, nó sẽ dẫn đến việc hiển thị 1 phần của dòng tiếp theo như
            này
          </span>
        </div>
        <div class="mess-sender">
          <span>Chương Quân 22:15</span>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="mess mess-right">
          <span
            >shadgf s fdasfdj gasjhdf sajh gfjas fjsa dfsa fjhsag jhfgsajfgjhas
            fdjhadfjhs jhfdasjhsadfjhsadjhf áh</span
          >
        </div>
        <div class="mess-sender" style="text-align: end">
          <span>Chương Quân 22:15</span>
        </div>
      </div>
      <div class="row">
        <div class="mess mess-left">
          <span>
            Để sử dụng được cái này, ta bắt buộc phải thêm display: -webkit-box,
            thuộc tính -webkit-line-clamp sẽ quyết định số dòng tối đa được hiển
            thị. Tuy nhiên, cách làm này có 1 nhược điểm là không thể sử dụng
            padding, nó sẽ dẫn đến việc hiển thị 1 phần của dòng tiếp theo như
            này
          </span>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="mess mess-right">
          <span
            >shadgf s fdasfdj gasjhdf sajh gfjas fjsa dfsa fjhsag jhfgsajfgjhas
            fdjhadfjhs jhfdasjhsadfjhsadjhf áh</span
          >
        </div>
      </div>
      <div class="row">
        <div class="mess mess-left">
          <span>
            Để sử dụng được cái này, ta bắt buộc phải thêm display: -webkit-box,
            thuộc tính -webkit-line-clamp sẽ quyết định số dòng tối đa được hiển
            thị. Tuy nhiên, cách làm này có 1 nhược điểm là không thể sử dụng
            padding, nó sẽ dẫn đến việc hiển thị 1 phần của dòng tiếp theo như
            này
          </span>
        </div>
      </div>
      <div class="row">
        <div class="mess mess-left">
          <span>
            Để sử dụng được cái này, ta bắt buộc phải thêm display: -webkit-box,
            thuộc tính -webkit-line-clamp sẽ quyết định số dòng tối đa được hiển
            thị. Tuy nhiên, cách làm này có 1 nhược điểm là không thể sử dụng
            padding, nó sẽ dẫn đến việc hiển thị 1 phần của dòng tiếp theo như
            này
          </span>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="mess mess-right">
          <span
            >shadgf s fdasfdj gasjhdf sajh gfjas fjsa dfsa fjhsag jhfgsajfgjhas
            fdjhadfjhs jhfdasjhsadfjhsadjhf áh</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row chat-box__send align-items-center">
    <div class="col-md-11 col-10">
      <textarea
        class="chat-box__send--text"
        name=""
        id=""
        rows="2"
        placeholder="Tin nhắn mới"
      ></textarea>
    </div>
    <div class="col-md-1 col-2">
      <div class="row justify-content-center">
        <button class="chat-box__send--btn">
          <i class="fab fa-telegram-plane"></i>
        </button>
      </div>
      <div class="row justify-content-center">
        <span class="chat-box__send--btn">
          <i class="fas fa-paperclip"></i>
        </span>
      </div>
    </div>
  </div>
</div>
