<div
  class="filePreview row justify-content-between"
  *ngIf="imageURL !== '' && imageURL"
>
  <img class="imagePreview" [src]="imageURL" />
  <span class="filePreview__icon-close align-self-start" (click)="closePreview()">
    <i class="fas fa-times"></i>
  </span>
</div>
<div class="row chat-box__send align-items-center">
  <div class="col-md-11 col-10">
    <textarea
      class="chat-box__send--text"
      rows="2"
      #message
      (keyup.enter)="sendMessage(message.value)"
      placeholder="Tin nhắn mới"
    ></textarea>
  </div>
  <div class="col-md-1 col-2">
    <div class="row justify-content-center">
      <button (click)="sendMessage(message.value)" class="chat-box__send--btn">
        <i class="fab fa-telegram-plane"></i>
      </button>
    </div>

    <form class="row justify-content-center" [formGroup]="form">
      <label for="send_file" class="chat-box__send--btn">
        <i class="fas fa-paperclip"></i>
      </label>
      <input
        type="file"
        style="display: none"
        name="send_file"
        id="send_file"
        #filePicker
        (change)="onFilePicked($event)"
      />
    </form>

  </div>
</div>
