<div class="row chat-box__send align-items-center">
  <div class="col-md-11 col-10">
    <textarea
      class="chat-box__send--text"
      rows="2"
      #message
      placeholder="Tin nhắn mới"
    ></textarea>
  </div>
  <div class="col-md-1 col-2">
    <div class="row justify-content-center">
      <button (click)="sendMessage(message.value)" class="chat-box__send--btn">
        <i class="fab fa-telegram-plane"></i>
      </button>
    </div>
    <div class="row justify-content-center">
      <span class="chat-box__send--btn">
        <i class="fas fa-paperclip"></i>
      </span>
    </div>
  </div>
</div>
