/* Chat Box Title */

.chat-box__title {
  height: 12.5vh;
  background-color: var(--color-1);
  border-bottom: 2px solid var(--color-2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat-box__title--img {
  margin: 0 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-2);
}

.chat-box__title--desc {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Call Video */

.btn-call-video {
  margin: 0 1rem;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: all 750ms;
  cursor: pointer;
}

.btn-call-video:hover, .btn-call-video:focus {
  background-color: var(--color-2);
  transition: all 750ms;
}

@media only screen and (max-width: 480px) {
  .icon-close {
    display: inline-block !important;
    margin-left: 0.75rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    transition: all 750ms;
    background-color: var(--color-2);
    cursor: pointer;
  }

  .icon-close:hover {
    background-color: var(--color-2);
    transition: all 750ms;
  }

  .chat-box__title {
    height: 10vh;
    background-color: var(--color-1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
