<div class="row chat-box__title align-items-center justify-content-between">
  <div>
    <span class="icon-close" style="display: none" (click)="onClickShowContent()">
      <i class="fas fa-arrow-left"></i>
    </span>
    <img [src]="currentRoom?.avatar" alt="" class="img-fluid chat-box__title--img" />
    <span class="chat-box__title--desc"> {{ currentRoom?.name }} </span>
  </div>
  <div>
    <span (click)="onCallVideo()" class="btn-call-video"><i class="fas fa-video"></i></span>
  </div>
</div>
