<div class="row justify-content-center setting">
  <div class="col-md-5 col-12 setting-content align-self-start">
    <div class="row justify-content-between">
      <span> <i class="fas fa-cog"></i> Chỉnh sửa thông tin: </span>
    </div>
    <form action="" method="POST">
      <div class="row justify-content-center">
        <input
          type="text"
          class="add-friend__input edit-input"
          placeholder="Họ và tên"
          name="name"
          id="edit-name"
          value="Chương Quân"
          disabled
          matInput
        />
      </div>
      <div class="row error" id="edit-name-err"></div>
      <div class="row justify-content-end">
        <button
          type="submit"
          class="add-friend__card--icon"
          id="save-edit-user"
        >
          <i class="fas fa-edit"></i> Chỉnh sửa
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-5 col-12 setting-content align-self-center">
    <div class="row justify-content-between">
      <span> <i class="fas fa-key"></i> Đổi mật khẩu: </span>
    </div>

    <form action="">
      <div class="row justify-content-center align-items-center">
        <input
          type="password"
          class="add-friend__input"
          placeholder="Mật khẩu cũ"
          name="password"
          id="edit-password"
          matInput
        />
      </div>
      <div class="row error" id="edit-password-err"></div>

      <div class="row justify-content-center">
        <input
          type="password"
          class="add-friend__input"
          placeholder="Mật khẩu mới"
          name="new-password"
          id="edit-new-password"
          matInput
        />
      </div>
      <div class="row error" id="edit-new-password-err"></div>

      <div class="row justify-content-center">
        <input
          matInput
          type="password"
          class="add-friend__input"
          placeholder="Xác nhận mật khẩu"
          name="re-password"
          id="edit-re-password"
        />
      </div>
      <div class="row error" id="edit-re-password-err"></div>

      <div class="row justify-content-end">
        <button
          type="submit"
          class="add-friend__card--icon"
          id="save-change-password"
        >
          <i class="fas fa-save"></i> Lưu
        </button>
      </div>
    </form>
  </div>
</div>
