.imagePreview {
  height: 15rem;
  margin: 1rem 0;
}

.imagePreview img {
  /* width: 200px; */
  height: 100%;
}

.setting {
  margin: 1rem;
  border-radius: 20px;
  z-index: 3;
}

.setting-content {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 2px solid var(--color-1);
  border-radius: 15px;
}

.add-friend__input {
  width: 80%;
  margin: 1rem 0.5rem;
  padding: 0 0.5rem;
  display: block;
  font-size: 0.9rem;
  color: var(--color-3);
  background-color: var(--color-2);
  border: none;
  border-bottom: 1px solid var(--color-3);
}

.add-friend__input::placeholder {
  color: var(--color-3);
}

.add-friend__submit {
  margin: 1rem 0.5rem;
  background-color: var(--color-2);
  border: none;
  border-radius: 15px;
  transition: all 750ms;
}

.add-friend__card--icon,
.edit-user__card--icon {
  display: inline-block;
  margin: 1rem 0.25rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.add-friend__card--icon:hover,
.edit-user__card--icon:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}
