/* Style chung */
@font-face {
  src: url(src/app/font/Comfortaa-VariableFont_wght.ttf);
  font-family: Comfortaa;
}

:root {
  --color-1: #d0d2fd;
  /* màu nền */
  --color-4: #b2b9c5;
  /*màu nền tối */
  --color-2: white;
  --color-3: black;

  /* Base color */
}

* {
  font-family: Comfortaa;
}

.align_center {
  text-align: center;
}

.highlight {
  background-color: var(--color-3) !important;
}

.base_class_component {
  background-color: brown !important;
}

.message_component {
  background-color: green !important;
}

.contact_component {
  background-color: pink !important;
}

.addfriend_component {
  background-color: blue !important;
}

.personal-information_component {
  background-color: cyan !important;
}

body {
  height: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

/* hr {
      border-top: 2px solid var(--color-3) !important;
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    } */

input[type="text"]:focus,
input[type="submit"],
input[type="password"]:focus,
textarea:focus,
button:focus,
span:focus {
  outline: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
