<div #scrollMe class="row chat-box__body">
  <div class="col">
    <div *ngFor="let message of messages">
      <!-- Receiver -->
      <div
        class="row"
        *ngIf="
          message.sender !== currentUserId &&
          !message.data?.url &&
          !message.data?.fileName
        "
      >
        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div class="mess mess-left">
          <span [title]="message.created_at | date: 'medium'">
            {{ message.data?.content }}
          </span>
        </div>

        <div class="mess-sender">
          <span>
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <!-- message URL exist -->
      <div
        class="row"
        *ngIf="message.sender !== currentUserId && message.data?.url"
      >
        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div class="mess mess-left">
          <img [src]="message.data?.url" alt="hình ảnh" class="mess-image" />
        </div>

        <div class="mess-sender">
          <span>
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <!-- file exist -->
      <div
        class="row"
        *ngIf="message.sender !== currentUserId && message.data?.fileName"
      >
        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div
          class="row justify-content-end"
          *ngIf="message.sender !== currentUserId && message.data?.fileName"
          style="cursor: pointer"
          target="_blank"
        >
          <div class="mess mess-right">
            <i
              class="{{ getFileExtension(message.data?.fileName) }} mr-1"
              style="color: #5cb85c; font-size: 2rem"
              aria-hidden="true"
            ></i>
            <span class="mess-label-file">
              {{ message.data?.fileName.split("/images/")[1] }}
            </span>
          </div>
        </div>

        <div class="mess-sender">
          <span>
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <!-- Sender -->
      <div
        class="row justify-content-end"
        *ngIf="
          message.sender === currentUserId &&
          !message.data?.url &&
          !message.data?.fileName
        "
      >
        <div class="mess mess-right">
          <span [title]="message.created_at | date: 'medium'">
            {{ message.data?.content }}
          </span>
        </div>
        <div class="mess-sender" style="text-align: end">
          <span *ngIf="profileOfFriends[message.sender]?._id === currentUserId">
            You
          </span>
          <span *ngIf="profileOfFriends[message.sender]?._id !== currentUserId">
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <div
        class="row justify-content-end"
        *ngIf="message.sender === currentUserId && message.data?.url"
      >
        <div class="mess mess-right">
          <img [src]="message.data?.url" alt="hình ảnh" class="mess-image" />
        </div>
      </div>

      <!-- Message File -->
      <div
        class="row justify-content-end"
        *ngIf="message.sender === currentUserId && message.data?.fileName"
        style="cursor: pointer"
        (click)="openFile(message.data?.fileName)"
      >
        <div class="mess mess-right">
          <i
            class="{{ getFileExtension(message.data?.fileName) }} mr-2"
            style="color: #5cb85c; font-size: 2rem"
            aria-hidden="true"
          ></i>
          <span class="mess-label-file">
            {{ message.data?.fileName.split("/images/")[1] }}
          </span>
        </div>
      </div>
      <!-- End Message File -->
    </div>
  </div>
</div>
