<div #scrollMe class="row chat-box__body">
  <div class="col">
    <div *ngFor="let message of messages">

<!-- Receiver -->
      <div class="row" *ngIf="message.sender !== currentUserId && !message.data.url">
        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div class="mess mess-left">
          <span [title]="message.created_at | date: 'medium'">
            {{ message.data?.content }}
          </span>
        </div>

        <div class="mess-sender">
          <span>
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <!-- message URL exist -->
      <div class="row" *ngIf="message.sender !== currentUserId && message.data.url">
        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div class="mess mess-left">
          <img
            [src]="message.data?.url"
            alt="hình ảnh"
            class="mess-image"
          />
        </div>

        <div class="mess-sender">
          <span>
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>


<!-- Sender -->
      <div
        class="row justify-content-end"
        *ngIf="message.sender === currentUserId && !message.data.url">
        <div class="mess mess-right">
          <span [title]="message.created_at | date: 'medium'">
            {{ message.data?.content }}
          </span>
        </div>
        <div class="mess-sender" style="text-align: end">
          <span *ngIf="profileOfFriends[message.sender]?._id === currentUserId">
            You
          </span>
          <span *ngIf="profileOfFriends[message.sender]?._id !== currentUserId">
            {{ profileOfFriends[message.sender]?.name }}
          </span>
        </div>
      </div>

      <div
        class="row justify-content-end"
        *ngIf="message.sender === currentUserId && message.data.url">

        <img
          *ngIf="profileOfFriends.length === 2"
          class="user__avatar"
          [src]="chatroom?.avatar"
        />
        <img
          *ngIf="profileOfFriends.length !== 2"
          class="user__avatar"
          [src]="profileOfFriends[message.sender]?.avatar"
        />
        <div class="mess mess-right">
          <img
            [src]="message.data?.url"
            alt="hình ảnh"
            class="mess-image"
          />
        </div>
      </div>



    </div>
  </div>
</div>
