/* Contact */

.tabs-contact__item {
  width: 80%;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--color-1);
  background-color: var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.tabs-contact__item:hover,
.tabs-contact__item.active {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Content Contacts */

.list-contacts__title {
  height: 10%;
  background-color: var(--color-1);
}

.list-contacts__title--text {
  padding: 1rem 2rem;
  font-weight: 700;
}

.list-contacts__tbl {
  max-height: 90vh;
  padding: 0 1rem;
  background-color: var(--color-2);
  border-top: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
  overflow-y: scroll;
}

.list-contacts__tbl::-webkit-scrollbar {
  width: 6px;
}

.list-contacts__tbl::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

.list-contacts__card {
  display: inline-block;
  width: 16rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 20px;
}

/* Card */
.card__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.card__title {
  margin: 0.5rem 0;
  max-width: 8.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__icon {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.card__icon:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}

/* Tabs Responsive */
@media only screen and (max-width: 480px) {
  .list-contacts__card {
    width: 90vw;
  }
}
