<div class="row justify-content-center">
  <div class="col-md-4 menu">
    <app-search></app-search>
    <app-contact-menu></app-contact-menu>
  </div>
  <div class="col-md-8 content" [ngClass]="{ hide: valHideContactContent }">
    <div class="row justify-content-center">
      <div class="add-groups">
        <div class="row justify-content-between align-items-center">
          <span>
            <i class="fas fa-users"></i>
            <i class="fas fa-plus plus-add-group"></i>
            Tạo nhóm
          </span>
          <span
            (click)="contactContent()"
            class="icon-close"
            style="display: none"
          >
            <i
              class="fas fa-times"
              style="font-size: 1.2rem; cursor: pointer"
            ></i>
          </span>
        </div>
        <hr />
        <form [formGroup]="form" (submit)="onAddRoom()">
          <label for="">Tên nhóm:</label>
          <div class="row justify-content-center">
            <input
              type="text"
              class="add-groups__input"
              placeholder="Nhập tên nhóm"
              formControlName="name"
              id="groups-name"
            />
          </div>
          <label>
            <span>Chọn bạn bè thêm vào nhóm:</span>
          </label>
          <div class="row list-friends-add-groups">
            <div class="col">
              <div
                *ngFor="let friend of friends"
                class="row align-items-center list-friends-add-groups__item"
              >
                <input
                  class="input-checkbox"
                  type="checkbox"
                  name="add-groups"
                  formControlName="members"
                  [value]="friend._id"
                  (change)="checkBoxClick($event)"
                />

                <img
                  src="{{ friend?.avatar }}"
                  alt=""
                  class="img-fluid item__img"
                />

                <span class="item__name">{{ friend?.name }}</span>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <button class="sb-add-groups" type="submit">Tạo nhóm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
